<!-- Selectors -->
<create-event></create-event>
<edit-event></edit-event>
<event-attend-confirm></event-attend-confirm>
<login-nav></login-nav>
<edit-profile></edit-profile>

<div class="container-fluid py-4 bg-dark" id="home">
	<div class="row mx-0">
		<div class="col-md-4 align-content-center">
			<div class="card bg-dark">
				<div class="card-header">
					Your Profile
				</div>
				<img class="card-img-top"
					  src="https://dl.dropboxusercontent.com/s/njpvy4k20010bkt/background.jpg?dl=0" height=200
					  alt="Card image cap">
				<div class="card-body text-center">
					<img class="rounded-circle m-0"
						  src={{profile.profileImage}} height="100"
						  width="100">

					<h4 class="card-title my-0">
					<small class="text-muted my-0">First Name:</small><br>
					{{ profile.profileFirstName }}</h4>
					<p class="card-text mb-1">
					<p class="fa fa-thermometer-full fa-2x text-danger" aria-hidden="true"><i class="fa fa-thermomenter-full text-danger" aria-hidden="true"></i></p>
					<p class="card-text mt-0 mb-2">
						<small class="text-muted">Username:</small><br>
						{{ profile.profileUserName }}</p>
					<p class="card-text mt-0 mb-2">
						<small class="text-muted">Email:</small><br>
						{{ profile.profileEmail }}</p>
					<small class="text-muted">Bio:</small><br>
					<p class="card-text mt-0 mb-2">{{ profile.profileBio }}</p>
				</div>
				<div class="card-footer">
					<a href="#" data-toggle="modal" data-target="#editProfile">
						<small class="text-muted"><i class="fa fa-pencil" aria-hidden="true"></i> Edit Profile
						</small>
					</a>
				</div>
				<div class="card-footer">
					<a href="#" data-toggle="modal" data-target="#createEvent">
						<small class="text-muted"><i class="fa fa-plus" aria-hidden="true"></i> Create An Event
						</small>
					</a>
				</div>
			</div>
		</div>
		<div class="col-md-6 mb-4">
			<div>
				<button type="button" class="btn btn-outline-warning w-100 mb-2 bg-dark" data-toggle="modal"
						  data-target="#createEvent"><i class="fa fa-plus" aria-hidden="true"></i> Create
					An Event
				</button>
				<a href="#" class="sticky-top">
				</a>
			</div>
			<div *ngFor="let event of events" class="card mb-3 bg-dark">
				<a (click)="switchEvent(event);">
					<img class="card-img-top" src="{{ event.eventImage }}" alt="Card image cap">
					<div class="card-body text-center">
						<!-- <img class="rounded-circle" [src]="getHostByProfileId(event.eventProfileId).profileImage" height="100" width="100"> -->
						<p class="card-text">
							<small class="text-muted">Hosted By: {{ getHostByProfileId(event.eventProfileId).profileFirstName }}</small>
						</p>
						<p class="card-text mb-1">
						<p class="" aria-hidden="true"><i class="fa fa-thermometer-full fa-2x text-danger" aria-hidden="true"></i></p>
						<h4 class="card-title">{{ event.eventName }}</h4>
						<p class="card-text">{{ event.eventAddress }}</p>
						<p class="card-text">{{ event.eventDetail }}</p>
						<p class="card-text my-1">
							<small class="text-muted">Price:</small>
							${{ event.eventPrice }}
						</p>
						<p class="card-text my-1">
							<small class="text-muted">Start Time:</small>
							{{ event.eventStartDateTime | date: "MM/dd/yy hh:mm a" }}
						</p>
						<p class="card-text my-1">
							<small class="text-muted">End Time:</small>
							{{ event.eventEndDateTime | date: "MM/dd/yy hh:mm a" }}
						</p>
					</div>
				</a>
				<a href="#" data-toggle="modal" data-target="#createEventAttendance">
					<div class="card-footer">
						<small class="text-muted align-content-center"><i class="fa fa-users" aria-hidden="true"></i>
							Attend Event
						</small>
					</div>
				</a>
			</div>
		</div>
		<div class="col-md-2">
			<div class="card bg-dark">
				<div class="card-header">
					<i class="fa fa-wifi faa-pulse animated" aria-hidden="true"></i> What's Vibing
				</div>
				<img class="card-img-top"
					  src="https://dl.dropboxusercontent.com/s/pz45ev8qmmzuome/alex-holyoake-202959.jpg?dl=0"
					  alt="Card image cap">
				<div class="card-body">
					<h4 class="card-title">Chris' Block Party</h4>
					<p class="card-text">Come on out for a party on the entire block. We have a bondfire, drinks and
						all other sorts of goodies.</p>
				</div>
				<div class="card-footer">
					<small class="text-muted align-content-center"><i class="fa fa-users" aria-hidden="true"></i>
						Crowd Size: 76
					</small>
				</div>
			</div>
			<div class="card bg-dark">
				<div class="card-header">
					<i class="fa fa-wifi faa-pulse animated" aria-hidden="true"></i> What's Vibing
				</div>
				<img class="card-img-top"
					  src="https://dl.dropboxusercontent.com/s/pz45ev8qmmzuome/alex-holyoake-202959.jpg?dl=0"
					  alt="Card image cap">
				<div class="card-body">
					<h4 class="card-title">Shakespeare in the Park</h4>
					<p class="card-text">Drama, Drama, Drama! </p>
				</div>
				<div class="card-footer">
					<small class="text-muted align-content-center"><i class="fa fa-users" aria-hidden="true"></i>
						Crowd Size: 56
					</small>
				</div>
			</div>
		</div>
	</div>
</div>
