<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
	<a class="navbar-brand" href="#">CrowdVibe</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
			  aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse ml-auto" id="navbarSupportedContent">
		<form class="form-inline my-2 my-lg-0">
			<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
	</div>
			<button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Search</button>
		</form>
		<ul class="navbar-nav ml-auto">
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
					data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <img
					class="rounded-circle m-0"
					src="https://dl.dropboxusercontent.com/s/s05h8qapt3p00kn/face.jpg?dl=0" height="50" width="50">
				</a>
				<div class="dropdown-menu mr-auto" aria-labelledby="navbarDropdown">
					<a class="dropdown-item mr-auto" href="#" data-toggle="modal" data-target="#editProfile">Edit Profile</a>
					<a class="dropdown-item mr-auto" href="#" data-toggle="modal" data-target="#createEvent">Create An Event</a>
					<a class="dropdown-item mr-auto" href="#">Signout</a>
				</div>
			</li>
		</ul>
	</div>
</nav>