<login-nav></login-nav>
<main class="rating-person">
<div class="container py-4">
	<div class="row">
		<div class="col-md-6 align-content-center">
			<div class="card">
				<img class="card-img-top" src="../../../image/lazy-allison.jpg" alt="Card image cap" height="400">
				<div class="card-body bg-dark text-white">
					<h3 class="card-title">Allison Mopsqueezer</h3>
					<h4 class="card-subtitle mb-2 text-muted">Rating</h4>
					<div class="text-center">
						<i class="fa fa-thermometer-quarter fa-3x m-4 text-primary" aria-hidden="true"></i>
					</div>
					<h4 class="card-subtitle mb-2 text-muted">Bio</h4>
					<p class="card-text">
						I party Hard!Shut the shizzle up a check out this sizzle augue hendrerit accumsizzle. Yo for sure est. Vivamizzle maurizzle mah nizzle, viverra uhuh ... yih!, facilisizzle id, ultrices shiznit, erat. Break yo neck, yall ante sure gangsta we gonna chung faucibizzle break yo neck, yall luctizzle et check out this posuere cubilia Phat; Donizzle dolizzle. Integer uhuh ... yih!. Gangster pharetra blandizzle ghetto. Phat rutrizzle aliquizzle its fo rizzle. Sizzle gangsta. I saw beyonces tizzles and my pizzle went crizzle sem nulla, venenatis nizzle, scelerisque boom shackalack, boom shackalack izzle, funky fresh.
					</p>
					<h4 class="card-subtitle mb-2 text-muted">Encounters</h4>
					<p class="card-text">ABQ Shuffleboard Shakedown</p>
					<p class="card-text">Red Rover in the Park</p>
					<p class="card-text">Bernalillo Knitting Meet-Up</p>
					<div class="dropdown">
						<button class="btn btn-secondary dropdown-toggle"
								  type="button" id="dropdownMenu1" data-toggle="dropdown"
								  aria-haspopup="true" aria-expanded="false">
							Rate Me
						</button>
						<div class="dropdown-menu" aria-labelledby="dropdownMenu1">
							<a class="dropdown-item" href="#!">
								<div class="lines">
									<i class="fa fa-thermometer-empty fa-2x text-secondary" aria-hidden="true"></i>
									<i class="fa fa-thermometer-quarter fa-2x text-primary" aria-hidden="true"></i>
									<i class="fa fa-thermometer-half fa-2x text-success" aria-hidden="true"></i>
									<i class="fa fa-thermometer-three-quarters fa-2x text-warning" aria-hidden="true"></i>
									<i class="fa fa-thermometer-full fa-2x text-danger" aria-hidden="true"></i>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-5">
			<div class="card event bg-dark text-white">
				<h3><i class="fa fa-wifi text-danger" aria-hidden="true"></i>ibing now</h3>
				<img class="card-img-top" src="https://dl.dropboxusercontent.com/s/9ojadnxp8n2b7oq/bar.jpg?dl=0"
					  alt="Card image cap">
				<div class="card-body text-center bg-dark text-white">
					<img class="rounded-circle"
						  src="https://dl.dropboxusercontent.com/s/s05h8qapt3p00kn/face.jpg?dl=0"
						  height="100" width="100">
					<p class="card-text">
						<small class="text-muted">Hosted By: Zach</small>
					</p>
					<div class="text-center">
						<i class="fa fa-thermometer-three-quarters fa-2x m-2 text-warning" aria-hidden="true"></i>
					</div>
					<h4 class="card-title">Happy Hour</h4>
					<div class="text-center">
						<i class="fa fa-thermometer-full fa-2x m-2 text-danger" aria-hidden="true"></i>
					</div>
					<p class="card-text">Some co-workers are getting together for a drink, we would love to meet
						some new people in town.</p>
					<p class="card-text my-1">
						<small class="text-muted">@:</small>
						D Rinkers Pub
					</p>
					<p class="card-text my-1">363 Palmer Ave Ne</p>
					<p class="card-text my-1">Fun Town</p>
					<p class="card-text my-1">89933</p>
					<p class="card-text my-1">
						<small class="text-muted">Starts:</small>
						6:00pm
					</p>
					<p class="card-text my-1">
						<small class="text-muted">Ends:</small>
						2:00am
					</p>
					<p class="card-text my-1">
						<small class="text-muted">Price:</small>
						Free
					</p>
					<p class="card-text my-1">
						<small class="text-muted">Attending:</small>
						57
					</p>
				</div>
				<a href="#">
					<div class="card-footer">
						<small class="text-muted align-content-center"><i class="fa fa-users" aria-hidden="true"></i>
							Attend Event
						</small>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>

</main>