<login-nav></login-nav>
<section class="container-fluid">
	<div class="row application-page">
		<div class="col-xs-10 col-xs-offset-1 well">
			<div class="input-group">
				<span class="input-group-addon">Search By Name</span>
				<input  type="text" class="form-control"  aria-describedby="Search Profiles by Name" (input)="termStream.next($event.target.value)">
			</div>
			<h2>Profiles</h2>

			<table class="table table-bordered table-hover">
				<thead>
					<tr>
						<th>First</th>
						<th>Last</th>
						<th>Email</th>
						<th>Image</th>
						<th>Bio</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>{{ profile.profileFirstName }}</td>
						<td>{{ profile.profileLastName }}</td>
						<td>{{ profile.profileUserName }}</td>
						<td>{{ profile.profileImage }}</td>
						<td>{{ profile.profileBio }}</td>
					</tr>
				</tbody>

			</table>
		</div><!--end of .table-responsive-->
	</div>
</section>