.landing-page {
	background-image: url("https://dl.dropboxusercontent.com/s/qo0jbebw4ju7eo7/jens-johnsson-121803.jpg?dl=0");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
}

.rating-person {
	background-image: url("./image/crowd.jpeg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
}

.rating-event {
	background-image: url("./image/crowd.jpeg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
}


h4 {
	text-align: center;
}


.card {
	background-color: transparent;
}

