.landing-page {
	background-image: url("https://dl.dropboxusercontent.com/s/qo0jbebw4ju7eo7/jens-johnsson-121803.jpg?dl=0");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
}

.rating-person {
	background-image: url("./image/crowd-people.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
}



h6 {
	text-align: center;
}

