<phpunit>
	<testsuites>
		<testsuite name="Crowdvibe">
			<file>ProfileTest.php</file>
			<file>EventTest.php</file>
			<file>RatingTest.php</file>
			<file>EventAttendanceTest.php</file>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">..</directory>
		</whitelist>
	</filter>
</phpunit>