/****************
* Create Event
*****************/
/*body {*/
	/*margin-top: 20px; background-color: #eeeeee*/
/*}*/
/*.social-event {*/
/*.glyphicon,*/
/*}*/
/*.social-event {*/
/*.fa,*/
/*}*/
/*.social-event {*/
/*[class^=icon-']*/
/*}*/
/*.social-event {*/
/*[class*='icon-']*/
/*}*/
/*{*/
	/*font-weight: bold;*/
	/*color: #999999;*/
/*}*/

/*.social-event a,*/
/*.social-event a: hover,*/
/*.social-event a:active,*/
/*.social-event a: focus; {*/
	/*text-decoration: none;*/
/*}*/

/****************
*Rate-person
*****************/
.rating-person {
	/*background-image: url("./image/crowd.jpeg");*/
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
}

/****************
*Rate-event
*****************/
.rating-event {
	/*background-image: url("./image/crowd.jpeg");*/
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
}

/****************
*generic for rate-person and rate-event
*****************/
h4 {
	text-align: center;
}
.card {
	background-color: transparent;
}