/****************
* Create Event
*****************/
/*body {*/
	/*margin-top: 20px; background-color: #eeeeee*/
/*}*/
/*.social-event {*/
/*.glyphicon,*/
/*}*/
/*.social-event {*/
/*.fa,*/
/*}*/
/*.social-event {*/

/*}*/
/*.social-event {*/
/*[class*='icon-']*/
/*}*/
/*{*/
	/*font-weight: bold;*/
	/*color: #999999;*/
/*}*/

/*.social-event a,*/
/*.social-event a: hover,*/
/*.social-event a:active,*/
/*.social-event a: focus; {*/
	/*text-decoration: none;*/
/*}*/

/****************
*Rate-person
*****************/
.rating-person {
	/*background-image: url("./image/crowd.jpeg");*/
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
}

/****************
*Rate-event
*****************/
.event {
	/*background-image: url("./image/crowd.jpeg");*/
	background-position: center;
	background-repeat: repeat-y;
	background-size: cover;
	height: 100%;
}

/****************
*generic for rate-person and rate-event
*****************/
h4 {
	text-align: center;
}
.card {
	background-color: transparent;
}

/**Global **/
body {
	background-color: black;
}

/** Modals **/
.modal {
	color: white;
}

label, .modal-header {
	color: white;
}

.btn-white {
	background-color: #FFA500;
	border-color: black;
}

/**Landing Page CSS **/
#landing-page {
	background-image: url(https://images.unsplash.com/photo-1497911270199-1c552ee64aa4?auto=format&fit=crop&w=1050&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D);
	background-size: cover;
	background-position: center;
	height: 100vh;
}
#home {
	background-image: url(https://images.unsplash.com/photo-1497911270199-1c552ee64aa4?auto=format&fit=crop&w=1050&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D);
	background-size: cover;
	background-position: center;
	height: 100vh;
	background-repeat: repeat-y;
}

body, html {
	width: 100%;
	height: 100%;
	color: white;
}

h1 {
	font-weight: 700;
	font-size: 4rem;
}

a {
	text-decoration: none;
	color: white;
}

a:hover {
	text-decoration: none;
	color: orangered;
}

.content{
	padding-top: 25%;
	text-align: center;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
	0px 8px 13px rgba(0,0,0,0.1),
	0px 18px 23px rgba(0,0,0,0.1);
}

hr {
	width: 400px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}

/**SignUp **/
form, #modal-title {
	color: black;
}

/**modal**/

.modal {
	color: black;
}